

.nav-position {
	position: absolute;
	z-index: 100;
	width: 100%;
	background-color: rgba(0,0,0,0.4);
}

.item{
	
}
.item img{
	width: 100%;
	height: auto;
}
.single-feature{
	height: 180px;
	padding: 20px 20px 20px 20px;
	align-content: center;
	text-align: center;

}
.single-feature i{
	width: 100px;
	height: 100px;
	font-size: 50px;
	padding-top: 25px;
	background-color: lightblue;
	text-align: center;
	

}

.single-small-img{
	width: 80px;
	height: 80px;
	

}
.feature-text{
	background-color: rgba(0,0,0,0.3);
	height: 150px;
	padding: 20px 10px;
}
.border{
	
	margin: 0 40%;
	border-top: 1px solid green;
	border-bottom: 1px solid green;
}

.portfolio-block{
	padding-top: 80px;
	padding-bottom: 120px;
}

.single-portfolio{
	text-align: center;

}

.single-portfolio img{
	margin: 0px auto;
}

.about-us-section1{
	padding-top: 80px;
	padding-bottom: 120px;
}
.about-us-section2 {
	padding-top: 80px;
	padding-bottom: 120px;
	
}
.progress-block{

	background-color: green;
	opacity: 0.8;
	padding: 5px 20px;
}

.about-slide img {
    width: 100%;
}
.about-us-section3{
	background: rgba(0,0,0,0.2) url("img/aboutimg3.jpeg") no-repeat;
	background-size: cover;
	padding-top: 80px;
	padding-bottom: 120px;
}



.single-stat{
	margin:20px 0px;
	padding: 10px 10px;
	height: 180px;
	text-align:center;
	align-items: center;
	background-color: rgba(0,0,0,0.4);
	color:#28ABE3;
	font-size: 35px;

}
.single-stat h3{
	color: #fff;
}
.team-section{
	padding-top: 60px;
	padding-bottom: 90px;
}

.team-heading{
	text-align: center;
	font-size: 25px;


}

.single-member{
	margin: 15px 10px;
	background-color: red;
	position: relative;
}
.member-details{
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.member-details ul li {
	list-style: none;
	display: inline;
	
}
.member-details ul{
	margin-left: -40px; 
}

.member-details ul li a i {
	font-weight: 25px;
	color: #fff;
	height: 40px;
	width: 40px;
	background: blue;
	text-align: center;
	font-size: 25px;
	padding-top: 7px;
	border-radius: 4px;
}
.opacity{
	display: none;
	background: lightgreen;
	height: 100%;
	width: 100%;
	position: absolute;
	opacity: 0.6;
}
.single-member:hover .opacity, .single-member:hover .member-details {
	
	transition-delay: 1s;
	transition: all 0.3s; 
	display: block;
}
.training-section{
	padding-top: 60px;
	padding-bottom: 90px;
}
.traing-deatils{
	margin: 20px 10px;
text-align: center;
}

.contact-section{
	 background: rgba(0,0,0,0.3) url("img/aboutimg2.jpeg") no-repeat scroll center; 
	background-size: cover;
}
.contact-heading{
	text-align: center;
}

.input-info {
	width: 100%;
	height: 50px;
	padding-left: 5px;
	border: none;
	border-radius: 4px;
	
	margin: 3px 0px;
	font-size: 15px;
}
.input-message {
	width: 100%;
	height: 100%;
	padding-left: 5px;
	border: none;
	border-radius: 5px;
	
	font-size: 15px;
}

.contact-section{
	padding-top: 60px;
	padding-bottom: 90px;
}
.contact-card{
	


}
.contact-info ,.contact-hour{
	height: 170px;
	border-radius: 5px;
	list-style: none;


}
.contact-info ul li, .contact-hour ul li{
	list-style: none;
}

.footer-section{
	background-color: #000011;
	position: relative;
	height: 90px;
}
.footer-border{
	width: 100%;
	position: absolute;
	top: -2px;
	border-top: 2px solid green;



}

.footer-social {
	list-style: none;
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: center;
	font-size: 22px;
	border-radius: 4px;	


}



.footer-block-copyright{
	margin-top:30px;
	color: #fff;
}
.footer-social a i{
	color: #fff;
}
.footer-social:hover {
	background-color: #fff;
}
.footer-social:hover a i{
	color: gray;
}

.footer-block{
	margin-top:15px;
	vertical-align: center;
	text-align: center;
	display: inline;
	
}

.footer-block p{
	padding-left: 33px;
}
.footer-block-terms {
	margin-top: 30px;
	
}
.footer-block-terms a{
	color:#fff;
}
.footer-block-terms a:hover{
	color: blue;
	text-decoration: none;
}