.nav-position {
	position: absolute;
	z-index: 100;
	width: 100%;
	background-color: rgba(0,0,0,0.1);
}

.element-color{
	color: #fff!important;
}

.single-feature{
	height: 120px;
	padding: 20px 20px 20px 20px;
	align-content: center;

}
.single-small-img{
	width: 80px;
	height: 80px;
	

}
.feature-text{
	background-color: rgba(0,0,0,0.3);
}
.border{
	
	margin: 0 40%;
	border-top: 1px solid green;
	border-bottom: 1px solid green;
}
.about-us-section2 {
	background-color: green;
	opacity: 0.8;
}

.about-slide img {
    width: 100%;
}

